* {
  list-style: none;
}
body {
  margin: 0 auto;
  height: 100vh;
  background-color: #f4f5f7;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0.3rem;
  margin: 0;
  background-color: #aca0eb;
  color: #ffffff;
  border-radius: 0.3rem;
}
.profile_image {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

/* 로고 css */
#logo {
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-bottom: solid;
}
#logo_placeholder img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.back_login {
}
.logo_title {
  font-family: '카페24 써라운드 에어 OTF';
}
