#post_header {
  padding-top: 1rem;
  height: 7rem;
  display: flex;
  justify-content: center;
}
.post_info p {
  text-align: center;
}

.post_button {
  display: flex;
  justify-content: center;
  padding-left: 20rem;
  height: 2rem;
}
#post_list {
  display: flex;
  justify-content: center;
}
.user_post {
  width: 40rem;
  height: 13rem;
  margin-bottom: 1rem;
  border-radius: 1rem;

  box-sizing: border-box;
  background-color: #ffffff;
}
.title_area {
  padding: 1rem;
  border-bottom: solid #cccccc;
}
.post_info {
  display: flex;
  justify-content: space-between;
}

.profile_area {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.profile_area img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.3rem;
}
