.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#post_write {
  width: 500px;
}
.title_input {
  width: 500px;
}
.content_input {
  border-top: solid #cccccc;
  border-bottom: solid #cccccc;
  width: 500px;
  height: 200px;
}
.button_box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.submit_button {
  width: 350px;
}
