.title {
  display: flex;
  justify-content: center;
}
#post_write {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.title_input {
  width: 20rem;
  background: none;
  border: none;
  border-top: solid #cccccc;
  border-bottom: solid #cccccc;
}
.content_input {
  width: 20rem;
  border-top: solid #cccccc;
  border-bottom: solid #cccccc;
  height: 10rem;
}
.submit_button {
  width: 13rem;
}
.button_box {
  display: flex;
  justify-content: center;
}
