.post_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}
.post_button {
  width: 40rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.post_list {
  display: flex;
  justify-content: center;
}

.user_post {
  width: 40rem;
  height: 13rem;
  margin-bottom: 1rem;
  border-radius: 1rem;

  box-sizing: border-box;
  background-color: #eceff1;
}
.title_area {
  padding: 1rem;
  border-bottom: solid #cccccc;
}
.post_info {
  display: flex;
  justify-content: space-between;
}

.profile_area {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.profile_area img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.3rem;
}
