.regist_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin: 0;
}
input {
  width: 20rem;
  margin: 0.5rem 0 0.25rem 0;
}

.circle {
  display: flex;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #c4c4c4;
  justify-content: center;
  align-items: center;
}
.helper_text {
  color: red;
  margin-bottom: 0.5rem;
}
.regist_button {
  width: 20rem;
  margin-bottom: 1rem;
}
