h4 {
  margin: 0;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_box {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.user_info {
  width: 20rem;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile_img_container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.profile .profile_image {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.nickname_container input {
  width: 20rem;
  margin-top: 1rem;
}

.modify_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modify_delete button {
  width: 20rem;
}
.modify_delete a {
  margin: 1rem 0 2rem 0;
}

.submit_button {
  width: 5rem;
  border-radius: 0.7rem;
}
