h4 {
  margin: 0;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_box {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.user_info {
  width: 20rem;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile_img_container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.profile_img_container button {
  width: 52px;
  position: absolute;
  border: solid;
  margin-top: 70px;
  background-color: #000000;
  opacity: 35%;
  border-radius: 1rem;
}
.profile_img_container .profile_image {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}
.profile_img_container .profile_image:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 #e9e9e9);
}

.nickname_container input {
  width: 20rem;
  margin-top: 1rem;
}

.modify_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modify_delete button {
  width: 20rem;
}
.modify_delete a {
  margin: 1rem 0 2rem 0;
}

.modify_toast {
  position: absolute;
  width: 5rem;
  border-radius: 0.7rem;
  top: 75%;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

#user_delete {
  cursor: pointer;
}
