#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
#regist {
  cursor: pointer;
}
#submit_button {
  background-color: #baccff;
}
button {
  width: 15rem;
}
