.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password_container {
  width: 20rem;
}
input {
  width: 20rem;
  box-sizing: border-box;
}
.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button_container .modify_button {
  width: 20rem;
}

.modify_toast {
  margin-top: 20px;
  width: 7rem;
  border-radius: 0.7rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.show {
  opacity: 1;
  transform: translateY(0);
}
