* {
  list-style: none;
}
body {
  margin: 0 auto;
  height: 100vh;
  background-color: #f4f5f7;
}

/* 로고 css */
#logo {
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-bottom: solid;
}
.back_login {
  display: inline;
  position: relative;
  left: -2rem;
}
.logo_title {
}
